{% include header.html %}
    <div id="main" display="block">
      <br/>
      <h2>Functions</h2>
      <ul>
        <li>Random Reddit memes</li>
        <li>Random Images</li>
        <li>Simple meme generator</li>
        <li>And more!!!</li>
      </ul>
      <h2>Invite</h2>
      <p>You can invite and vote this bot from...</p>
      <ul>
        <li><a href="https://discordlistology.com/bots/757258298725630008">Discordlistology</a></li>
        <li><a href="https://discord.bots.gg/bots/757258298725630008">Discord Bots (bots.gg)</a></li>
        <li><a href="https://top.gg/bot/757258298725630008">Discord Bot List / Top.gg / DBL</a></li>
        <li><a href="https://apicord.gitlab.io/invite">This website</a></li>
      </ul>
      <a href="https://top.gg/bot/757258298725630008">
        <img src="https://top.gg/api/widget/757258298725630008.svg" alt="APIcord" />
      </a>
    </div>
{% include footer.html %}
