    <footer>
      <table>
        <tr>
          <th>Code</th>
          <th>News</th>
          <th>More</th>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/APIcord">
              GitHub <i class="fa fa-github"></i>
            </a><br />
            <a href="https://gitlab.com/APIcord">
              GitLab <i class="fa fa-gitlab"></i>
            </a>
          </td>
          <td>
            <a href="https://t.me/apicord">
              Telegram <i class="fa fa-telegram"></i>
            </a><br />
            <a href="https://fosstodon.org/@APIcord" rel="me">
              Mastodon <i class="fa fa-mastodon"></i>
            </a>
          </td>
          <td>
            <a href="{{site.github.baseurl}}privacy.html">Privacy Policy <i class="fa fa-file-text"></i></a><br />
            <a href="{{site.github.baseurl}}status/">Status <i class="fa fa-server"></i></a>
          </td>
        </tr>
      </table>
      <p>
        &copy;2020-2021 <a href="https://absucc.thedev.id">Absucc</a><br />Web made with <a href="https://forkaweso.me"><i class="fa fa-forkawesome"></i></a> & <a href="https://discordcss.blobby.me">Discord.css</a>
      </p>
    </footer>
  </body>
</html>
